$colorText: #323232;
$colorMain: #3d82eb;
$colorError: #EB3D3D;
$colorUnfocused: #C4C4C4;
$colorUnfocusedLess: #ECECEC;
$colorLight: #FFFFFF;
$colorSuccess: #008000;
$colorMissed: #ffd700;

$boxShadowMain: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
$boxShadowTopRight: 2px -1px 7px -1px rgba(0, 0, 0, 0.15);
$boxShadowHover: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
$boxShadowActive: 0px 3px 15px 3px rgb(0 0 0 / 40%);
$boxShadowNew: 0px 3px 15px 3px rgba(61, 130, 235, 0.4);

$fontSizeMain: 1rem;
$fontSizeSmall: 0.8rem;
$fontSizeMedium: 1.4rem;
$fontSizeHeader: 1.8rem;

$widthIcon: 48px;
$heightIcon: 48px;