@import 'styles/templates.scss';
@import 'styles/vars.scss';

.button {
  @extend %button;
}

.iconUnchecked {
  color: $colorUnfocused;

  &_active {
    color: $colorMain;
  }
}

.iconHovered {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;

  &:hover {
    color: $colorUnfocused;
  }

  &_active:hover {
    color: $colorMain;
  }
}

.iconChecked {
  color: $colorSuccess;
}