@import 'styles/templates.scss';
@import 'styles/vars.scss';

.button {
  @extend %button;
}

.iconClose {
  color: $colorUnfocused;

  &:hover {
    color: $colorError;
  }

  &_active {
    color: $colorError;
  }
}