@import 'styles/templates.scss';
@import 'styles/vars.scss';

.container {
  height: fit-content;
  border-radius: 5px;

  &_button {
    width: fit-content;
    z-index: 0;
  }

  &_form {
    width: calc(100% - 100px);
    z-index: 2;
    background: yellow;
  }
}